cloudpickle==3.1.2
contourpy==1.3.2
control==0.10.2
cycler==0.12.1
exceptiongroup==1.3.1
Farama-Notifications==0.0.4
filelock==3.24.3
fonttools==4.61.1
fsspec==2026.2.0
-e git+https://github.com/utiasDSL/gym-pybullet-drones.git@82b0fda6d005b287cdc1ef0c313d09a361027c45#egg=gym_pybullet_drones
gymnasium==1.2.3
iniconfig==2.3.0
Jinja2==3.1.6
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.6
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079158/work
pandas==2.3.3
pillow==12.1.1
pluggy==1.6.0
pybullet==3.2.7
Pygments==2.19.2
pyparsing==3.3.2
pytest==9.0.2
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.15.3
six==1.17.0
stable_baselines3==2.7.1
sympy==1.14.0
tomli==2.4.0
torch==2.10.0
transforms3d==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
